@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded:wght@600&display=swap');
@import 'color';
@import 'timeline';
$kuning-muda: #fceab2;
main,
body {
    font-family: 'Poppins', cursive;
    overflow-x: hidden;
}

.judul {
    font-family: 'Unbounded', cursive;
}

section {
    padding: 32px 0;
}

.banner {
    position: relative;
    background: #fceab2;
    height: 70vh;
    .cabe {
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 1;
        transform: translate(-50%, -50%);
        &-kecil {
            position: absolute;
            left: 50%;
            bottom: 10%;
            z-index: 1;
            width: 200px;
            transform: translate(-50%, -30%);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .judul {
        position: absolute;
        background-color: #d4a25d;
        left: 50%;
        z-index: 3;
        top: 50%;
        padding: 16px;
        border-radius: 16px;
        transform: skew(10deg, 10deg);
        transform: translate(-50%, -50%) skew(-3deg, -1deg);
        font-size: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        text-align: center;
        @media screen and (max-width: 766px) {
            width: 90%;
        }
        h2 {
            // transform: skew(3deg, 1deg);
            font-size: 4rem;
            margin: 0;
            color: #f8d46e;
            text-shadow: 5px 5px 0 #bd2132, -2px -2px 0 #bd2132, 2px -2px 0 #bd2132, -2px 2px 0 #bd2132, 2px 2px 0 #bd2132;
            // text-shadow: 5px 5px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
            @media screen and (max-width: 766px) {
                font-size: 3rem;
            }
        }
        &__small {
            font-size: 3.5rem !important;
            @media screen and (max-width: 766px) {
                font-size: 1.5rem !important;
                margin-top: 4px;
            }
        }
    }
}

section {
    h2 {
        color: #bd2132;
    }
}

.pembukaan {
    // background: #b75b00;
    position: relative;
    height: 100vh;
    .deskripsi {
        // background: rgba($color: $kuning-muda, $alpha: .4);
        // backdrop-filter: blur(8px);
        // padding: 8px;
    }
    .images {
        width: 100%;
        height: auto;
        margin: 8px auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__bg {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // height: 200px;
            background: linear-gradient(to top, $kuning-muda, transparent 20%, $kuning-muda);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .image {
        width: 240px;
        height: fit-content;
        border-radius: 16px;
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: cover;
        }
    }
    .relative {
        position: relative;
        // background: rgba($color: white, $alpha: .5);
    }
    .all-bg {
        position: absolute;
        right: 0;
        top: 0;
    }
    .img {
        width: 100%;
        height: 120px;
        opacity: .7;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.totop {
    position: relative;
    z-index: 88;
}

.animasi {
    background: #b75b00;
    padding: 32px 0;
    .mobil {
        width: 240px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


/* the slides */

.slick-slide {
    margin: 0 16px;
    @media screen and (max-width: 766px) {
        margin: 0 8px;
    }
}


/* the parent */

.slick-list {
    margin: 0 -16px;
    @media screen and (max-width: 766px) {
        margin: 0 -8px;
    }
}

.containerx {
    width: 400%;
    height: 100vh;
    display: flex;
    background: pink;
    flex-wrap: nowrap;
    .mobil {
        width: 240px;
        height: auto;
        position: fixed;
        bottom: 0;
        z-index: 10;
        left: 10%;
        @media screen and (max-width: 766px) {
            left: 5%;
            bottom: 3%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: $kuning-muda;
}

.lastContainer {
    display: flex;
    height: 50vh;
    background: $kuning-muda;
}

.alt-infografik {
    // background: #b35f27;
    background: $kuning-muda;
    position: relative;
    // overflow: hidden;
    .img-cabe {
        position: absolute;
        right: -42px;
        z-index: 12;
        top: -32px;
        width: 320px;
        height: auto;
        @media screen and (max-width: 766px) {
            position: absolute;
            right: -35px;
            z-index: 12;
            top: 8px;
            width: 108px;
            height: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .isi {
        // background: white;
        // width: 70%;
        padding: 16px;
        //box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        // transform: rotate(.7deg);
        @media screen and (max-width: 766px) {
            padding: 2px;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        h3 {
            position: relative;
            font-weight: bold;
            margin-bottom: 16px;
            font-size: 2.2rem;
            width: 65%;
            font-family: 'Unbounded';
            color: #bb1d2d;
            @media screen and (max-width: 766px) {
                font-size: 2rem;
                width: 100%;
            }
            &::before {
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 250px;
                height: 2px;
                // background: #bb1d2d;
                background: linear-gradient(to right, #bb1d2d, transparent);
                content: "";
            }
        }
        h4 {
            color: #6a883a;
            font-weight: bold;
            font-family: 'Unbounded';
            text-shadow: 1px 1px #b35f27;
            font-size: 2rem;
            @media screen and (max-width: 766px) {
                font-size: 1.5rem;
            }
        }
        li {
            list-style: none;
            display: block;
            // margin-bottom: 8px;
            padding: 8px;
            &:nth-child(odd) {
                background: rgba($color: #6a883a, $alpha: .3);
            }
            &:nth-child(even) {
                background: rgba($color: #6a883a, $alpha: .1);
            }
            .left-side,
            .right-side {
                display: inline-block;
            }
            .left-side {
                width: 120px;
                height: 120px;
                // border-radius: 50%;
                text-align: center;
                padding: 4px;
                // background: #bb1d2d ;
                vertical-align: middle;
                i {
                    font-size: 32px;
                    color: white;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .right-side {
                display: inline-block;
                width: 65%;
                // background: rgba(#e4e5ab,.9);
                padding: 8px;
                vertical-align: middle;
                @media screen and (max-width: 766px) {
                    width: 60%;
                }
            }
        }
        p {
            margin: 0;
            padding: 0;
        }
        // float: right;
    }
}

.alt-rute {
    background: #b35f27;
    .nama-kota {
        font-family: 'Unbounded';
        font-size: 3rem;
        color: #fceab2;
        @media screen and (max-width: 766px) {
            font-size: 2rem;
        }
    }
    .high-title {
        position: relative;
        width: fit-content;
        text-align: center;
        padding: 8px;
        top: -62px;
        margin: 0 auto;
        font-size: 3rem;
        font-family: 'Unbounded';
        color: #60370f;
        background: $kuning-muda;
        box-shadow: 2px 2px white;
        border: 4px solid #60370f;
        @media screen and (max-width: 766px) {
            font-size: 2rem;
            padding: 2px;
        }
    }
    .wrap {
        display: block;
        .peta {
            // display: inline-block;
            // width: 40%;
            width: 60%;
            margin: 0 auto 36px;
            height: auto;
            @media screen and (max-width: 766px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .datanya {
            // display: inline-block;
            // width: 55%;
            position: relative;
            margin-bottom: 32px;
            // h3 {
            //     position: absolute;
            //     top: -22px;
            //     left: 8px;
            //     background: rgba($color: #e2b435, $alpha: .8);
            //     // background: #e2b435;
            //     color: #3f2c00;
            //     font-family: 'Unbounded';
            //     width: fit-content;
            //     padding: 8px;
            // }
            h3 {
                font-family: 'Unbounded';
                color: #bb1d2d;
            }
            .abs {
                position: absolute;
                right: -32px;
                top: -135px;
                width: 200px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            @media screen and (max-width:766px) {
                width: 100%;
                margin-top: 8px;
            }
            background: white;
            padding: 8px;
            border: 1px solid #bb1d2d;
            box-shadow: 8px 8px #60370f;
            padding: 0;
            // padding: 8px 16px 0px;
            // transform: rotate(1deg);
            ul {
                margin: 0;
                padding: 0;
                li {
                    padding: 0;
                    margin-bottom: 8px;
                    list-style: none;
                    .img {
                        width: 100%;
                        height: 320px;
                        margin-bottom: 8px;
                        @media screen and (max-width: 766px) {
                            height: 240px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .cont {
                        padding: 16px;
                    }
                }
            }
        }
    }
}