@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded:wght@600&display=swap');
@import 'color';
main,
body {
    font-family: 'Poppins', cursive;
    overflow-x: hidden;
}

.judul {
    font-family: 'Unbounded', cursive;
}

section {
    padding: 32px 0;
}

.banner {
    position: relative;
    background: #fceab2;
    height: 70vh;
    .cabe {
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 1;
        transform: translate(-50%, -50%);
        &-kecil {
            position: absolute;
            left: 50%;
            bottom: 10%;
            z-index: 1;
            width: 200px;
            transform: translate(-50%, -30%);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .judul {
        position: absolute;
        background-color: #d4a25d;
        left: 50%;
        z-index: 3;
        top: 50%;
        padding: 16px;
        border-radius: 16px;
        transform: skew(10deg, 10deg);
        transform: translate(-50%, -50%) skew(-3deg, -1deg);
        font-size: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        text-align: center;
        h2 {
            // transform: skew(3deg, 1deg);
            font-size: 4rem;
            margin: 0;
            color: #f8d46e;
            text-shadow: 5px 5px 0 #bd2132, -2px -2px 0 #bd2132, 2px -2px 0 #bd2132, -2px 2px 0 #bd2132, 2px 2px 0 #bd2132;
            // text-shadow: 5px 5px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
            @media screen and (max-width:766px) {
                font-size: 3rem;
            }
        }
        &__small {
            font-size: 3.5rem !important;
            @media screen and (max-width:766px) {
                font-size: 1.2rem !important;
            }
        }
    }
}

.pembukaan {
    // background: #b75b00;
    .image {
        width: 240px;
        height: fit-content;
        border-radius: 16px;
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: cover;
        }
    }
}

.animasi {
    background: #b75b00;
    padding: 32px 0;
    .mobil {
        width: 240px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

  /* the slides */
.slick-slide {
    margin: 0 16px;
    @media screen and (max-width:766px) {
        margin: 0 8px;
    }
}

/* the parent */
.slick-list {
    margin: 0 -16px;
    @media screen and (max-width:766px) {
        margin: 0 -8px;
    }
}

.containerx {
	width: 400%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}