@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Unbounded:wght@600&display=swap');
main,
body {
    font-family: 'Poppins', cursive;
}

.judul {
    font-family: 'Unbounded', cursive;
}

section {
    padding: 32px 0;
}

.banner {
    position: relative;
    background: #fceab2;
    height: 70vh;
    .cabe {
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }
    .judul {
        position: absolute;
        background-color: #d4a25d;
        left: 50%;
        z-index: 3;
        top: 50%;
        padding: 16px;
        border-radius: 16px;
        transform: skew(10deg, 10deg);
        transform: translate(-50%, -50%) skew(-3deg, -1deg);
        font-size: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        text-align: center;
        h2 {
            // transform: skew(3deg, 1deg);
            font-size: 5rem;
            margin: 0;
            color: #f8d46e;
            text-shadow: 5px 5px 0 #bd2132, -2px -2px 0 #bd2132, 2px -2px 0 #bd2132, -2px 2px 0 #bd2132, 2px 2px 0 #bd2132;
            // text-shadow: 5px 5px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        }
        &__small {
            font-size: 3.5rem !important;
        }
    }
}

.pembukaan {
    .image {
        width: 320px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}